body {
  padding: 50px;
  font: 14px Helvetica, sans-serif;
  display: flex;
  justify-content: space-around; }
  body .main {
    max-width: 1032px; }
  @media all and (max-width: 550px) {
    body {
      padding: 10px;
      font-size: 12px; } }

a {
  color: #00B7FF; }

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.card {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border: 1px solid #cccccc;
  width: calc(25% - 20px);
  text-align: center;
  margin: 10px 0px; }
  .card .cardWrapper {
    padding: 20px; }
    .card .cardWrapper img {
      max-width: 100px;
      max-height: 100px; }
    .card .cardWrapper .textAndPriceWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .card .cardWrapper .textAndPriceWrapper .cardText {
        font-size: 14px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 58px; }
      .card .cardWrapper .textAndPriceWrapper .cardPrice {
        font-size: 16px;
        text-align: left; }
      .card .cardWrapper .textAndPriceWrapper button {
        border: 1px solid #cccccc;
        font-size: 14px;
        color: #0471af;
        width: 100%;
        height: 44px;
        background: none;
        transition: 0.25s; }
      .card .cardWrapper .textAndPriceWrapper button:hover {
        background: #0471af;
        color: #ffffff; }
  @media all and (max-width: 850px) {
    .card {
      width: 48%; }
      .card .cardWrapper {
        width: 100%;
        display: flex; }
        .card .cardWrapper .cardImageWrapper {
          width: 40%; }
          .card .cardWrapper .cardImageWrapper img {
            width: 100%; }
        .card .cardWrapper .textPriceWrapper {
          width: 50%; }
          .card .cardWrapper .textPriceWrapper .cardText p {
            font-size: 12px; }
          .card .cardWrapper .textPriceWrapper .cardPrice {
            font-size: 14px; }
          .card .cardWrapper .textPriceWrapper button {
            height: 35px; } }
  @media all and (max-width: 550px) {
    .card {
      width: 100%; }
      .card .cardWrapper {
        width: 90%;
        display: flex;
        padding: 0px 10px 10px 10px; }
        .card .cardWrapper .cardImageWrapper {
          width: 90%;
          padding-top: 10px; }
        .card .cardWrapper .textPriceWrapper {
          width: 50%; }
          .card .cardWrapper .textPriceWrapper .cardText {
            font-size: 12px; }
          .card .cardWrapper .textPriceWrapper .cardPrice {
            font-size: 14px; }
          .card .cardWrapper .textPriceWrapper button {
            height: 35px; } }
  @media all and (max-width: 350px) {
    .card .cardWrapper {
      width: 90%;
      padding: 0px 10px 10px 10px; }
      .card .cardWrapper .cardImageWrapper {
        width: 90%;
        padding-top: 20px; }
      .card .cardWrapper .textPriceWrapper .cardText p {
        font-size: 12px; }
      .card .cardWrapper .textPriceWrapper button {
        height: 39px; } }

.cardHero {
  font-family: Helvetica, sans-serif;
  width: 100%;
  position: relative;
  border: 1px solid #cccccc;
  margin-bottom: 15px; }
  .cardHero .heroWrapper {
    padding: 20px;
    display: flex; }
    .cardHero .heroWrapper .imageWrapper {
      max-width: 195px;
      max-height: 195px; }
      .cardHero .heroWrapper .imageWrapper img {
        position: relative; }
    .cardHero .heroWrapper .heroContent {
      color: #333333;
      padding: 0px 20px 0px 10px; }
      .cardHero .heroWrapper .heroContent .heroTitle {
        font-size: 16px;
        font-weight: bold; }
      .cardHero .heroWrapper .heroContent .heroBullets {
        font-size: 14px; }
        .cardHero .heroWrapper .heroContent .heroBullets .listWrapper {
          line-height: 1.5em;
          overflow: hidden;
          text-overflow: ellipsis; }
    .cardHero .heroWrapper .heroPriceAndButton {
      padding-left: 10px;
      width: 28%;
      vertical-align: top; }
      .cardHero .heroWrapper .heroPriceAndButton .heroPrice {
        color: #333333;
        font-size: 22px;
        font-weight: bold;
        line-height: 0px; }
      .cardHero .heroWrapper .heroPriceAndButton button {
        color: #ffffff;
        height: 44px;
        background-color: #338700;
        width: 100%;
        border: none;
        font-size: 14px; }
  @media all and (max-width: 850px) {
    .cardHero .heroWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 48%; } }
  @media all and (max-width: 550px) {
    .cardHero .heroWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 82%; }
      .cardHero .heroWrapper .imageWrapper {
        padding: 0px 30px 15px; }
      .cardHero .heroWrapper .heroContent {
        padding: 0px; }
        .cardHero .heroWrapper .heroContent .heroBullets {
          font-size: 11px; }
          .cardHero .heroWrapper .heroContent .heroBullets .listWrapper {
            line-height: 1.65em;
            margin-left: -30px; }
      .cardHero .heroWrapper .heroPriceAndButton {
        width: 100%; } }

.pagination {
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }
  .pagination .paginationWrapper {
    display: flex; }
    @media all and (max-width: 550px) {
      .pagination .paginationWrapper {
        display: none; } }
    .pagination .paginationWrapper a {
      color: inherit;
      text-decoration: none;
      vertical-align: middle; }
    .pagination .paginationWrapper .pagination_prev {
      color: #ffffff;
      background-color: #cccccc;
      padding: 11px 17px;
      margin: 0px 5px;
      border: 1px solid #cccccc;
      height: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .pagination .paginationWrapper .pagination_numbers {
      display: flex;
      font-weight: bold;
      font-family: helvetica, sans-serif; }
      .pagination .paginationWrapper .pagination_numbers .pageNumberCurrent {
        padding: 11px 17px;
        margin: 0px 5px;
        height: 17px;
        background-color: #0471af;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .pagination .paginationWrapper .pagination_numbers .pageNumber {
        padding: 11px 17px;
        margin: 0px 5px;
        height: 17px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .pagination .paginationWrapper .pagination_numbers .pageDots {
        font-family: ICON;
        font-weight: 400;
        font-size: 1.5em;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        height: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 11px 17px;
        margin: 0px 5px; }
      .pagination .paginationWrapper .pagination_numbers .pagination_next {
        border: 1px solid #cccccc;
        height: 15px;
        color: #0471af; }
  .pagination .pagination_mobile_wrapper {
    display: none;
    font-weight: bold;
    font-family: helvetica, sans-serif; }
    .pagination .pagination_mobile_wrapper a {
      color: inherit;
      text-decoration: none;
      vertical-align: middle; }
    .pagination .pagination_mobile_wrapper .pagination_prev {
      color: #ffffff;
      background-color: #cccccc;
      padding: 11px 17px;
      margin: 0px 5px;
      border: 1px solid #cccccc;
      height: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .pagination .pagination_mobile_wrapper .pagination_next {
      border: 1px solid #cccccc;
      color: #0471af;
      height: 15px;
      padding: 11px 17px;
      margin: 0px 5px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .pagination .pagination_mobile_wrapper .mobile_number_display_wrapper {
      padding: 11px 17px;
      margin: 0px 5px;
      height: 17px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    @media all and (max-width: 550px) {
      .pagination .pagination_mobile_wrapper {
        display: flex; } }

/*# sourceMappingURL=style.css.map */