body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-around; }
  body .main {
    max-width: 1032px; }

a {
  color: #00B7FF; }

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.card {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border: 1px solid #cccccc;
  width: calc(25% - 20px);
  text-align: center;
  margin: 10px 0px; }
  .card .cardWrapper {
    padding: 20px; }
    .card .cardWrapper img {
      max-width: 100px;
      max-height: 100px; }
    .card .cardWrapper .textPriceWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .card .cardWrapper .textPriceWrapper .cardText {
        font-size: 14px;
        text-align: left; }
      .card .cardWrapper .textPriceWrapper .cardPrice {
        font-size: 16px;
        text-align: left; }
      .card .cardWrapper .textPriceWrapper button {
        border: 1px solid #cccccc;
        font-size: 14px;
        color: #0471af;
        width: 100%;
        height: 44px;
        background: none;
        transition: 0.25s; }
      .card .cardWrapper .textPriceWrapper button:hover {
        background: #0471af;
        color: #ffffff; }
  @media all and (max-width: 850px) {
    .card {
      width: 48%; }
      .card .cardWrapper {
        width: 100%;
        display: flex; }
      .card img {
        width: 40%; }
      .card .textPriceWrapper {
        width: 50%; }
        .card .textPriceWrapper .cardText {
          font-size: 12px; }
        .card .textPriceWrapper .cardPrice {
          font-size: 14px; }
        .card .textPriceWrapper button {
          height: 35px; } }
  @media all and (max-width: 550px) {
    .card {
      width: 100%; }
      .card .cardWrapper {
        width: 100%;
        display: flex; }
      .card img {
        width: 40%; }
      .card .textPriceWrapper {
        width: 50%; }
        .card .textPriceWrapper .cardText {
          font-size: 12px; }
        .card .textPriceWrapper .cardPrice {
          font-size: 14px; }
        .card .textPriceWrapper button {
          height: 35px; } }

.cardHero {
  font-family: Helvetica, sans-serif;
  width: 100%;
  position: relative;
  border: 1px solid #cccccc;
  margin-bottom: 15px; }
  .cardHero .heroWrapper {
    padding: 20px;
    display: flex; }
    .cardHero .heroWrapper img {
      max-width: 195px;
      max-height: 195px; }
    .cardHero .heroWrapper .heroContent {
      color: #333333;
      padding: 0px 10px; }
      .cardHero .heroWrapper .heroContent .heroTitle {
        font-size: 16px;
        font-weight: bold; }
      .cardHero .heroWrapper .heroContent .heroBullets {
        font-size: 14px; }
    .cardHero .heroWrapper .heroPriceAndButton {
      padding: 0px 10px;
      width: 28%;
      vertical-align: top; }
      .cardHero .heroWrapper .heroPriceAndButton .heroPrice {
        color: #333333;
        font-size: 22px;
        font-weight: bold; }
      .cardHero .heroWrapper .heroPriceAndButton button {
        color: #ffffff;
        height: 44px;
        background-color: #338700;
        width: 100%;
        border: none;
        font-size: 14px; }
  @media all and (max-width: 850px) {
    .cardHero .heroWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 48%; } }
  @media all and (max-width: 550px) {
    .cardHero .heroWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 82%; }
      .cardHero .heroWrapper .heroPriceAndButton {
        width: 100%; } }

/*# sourceMappingURL=style.css.map */